<div class="table">
    <div class="row header">
      <div class="cell">Column 1</div>
      <div class="cell">Column 2</div>
      <div class="cell">Column 3</div>
      <div class="cell">Column 4</div>
      <div class="cell">Column 5</div>
      <div class="cell">Column 6</div>
    </div>
    <div class="row">
      <div class="cell">Row 1, Column 1</div>
      <div class="cell">Row 1, Column 2</div>
      <div class="cell">Row 1, Column 3</div>
      <div class="cell">Row 1, Column 4</div>
      <div class="cell">Row 1, Column 5</div>
      <div class="cell">Row 1, Column 6</div>
    </div>
    <div class="row">
      <div class="cell">Row 2, Column 1</div>
      <div class="cell">Row 2, Column 2</div>
      <div class="cell">Row 2, Column 3</div>
      <div class="cell">Row 2, Column 4</div>
      <div class="cell">Row 2, Column 5</div>
      <div class="cell">Row 2, Column 6</div>
    </div>
    <div class="row">
      <div class="cell">Row 3, Column 1</div>
      <div class="cell">Row 3, Column 2</div>
      <div class="cell">Row 3, Column 3</div>
      <div class="cell">Row 3, Column 4</div>
      <div class="cell">Row 3, Column 5</div>
      <div class="cell">Row 3, Column 6</div>
    </div>
    <div class="row">
      <div class="cell">Row 4, Column 1</div>
      <div class="cell">Row 4, Column 2</div>
      <div class="cell">Row 4, Column 3</div>
      <div class="cell">Row 4, Column 4</div>
      <div class="cell">Row 4, Column 5</div>
      <div class="cell">Row 4, Column 6</div>
    </div>
  </div>
